# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency Directories
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/

# Env
.env

# Package-Lock
package-lock.json

# Webpack
bundle.js
bundle.js.gz
bundle.js.br
bundle.js.map