@font-face {
  font-family: 'anticon';
  src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot');
  /* IE9*/
  src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot?#iefix') format('embedded-opentype'), /* chrome、firefox */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.svg#iconfont') format('svg');
}

/*********
* CHARTS *
*********/

.chartTitle {
  font-size: 28px;
}

.chartSubtitle {
  font-size: 13px;
}

.chartLink {
  font-weight: bold;
  text-decoration: none;
}

.chartLink:hover {
  text-decoration: underline;
}

.chartLink.score {
  color: #E0E0E3;
}

.chartLink.lbLink {
  color: #A0A0A3;
}

.ttCategory {
  color: #A0A0A3;
  font-weight: bold;
  margin-right: 5px;
}

/************
* CAROUSELS *
************/

.carousel .slide {
  border-radius: 12px;
  border: 3px purple solid;
  background-color: #1b1b1c;
  overflow: hidden;
}

.carousel.carousel-slider .control-arrow {
  opacity: 1;
  background-color: purple;
}

.carousel.carousel-slider .control-arrow.control-next {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.carousel.carousel-slider .control-arrow.control-prev {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.carousel.carousel-slider .control-arrow:hover {
  opacity: 1;
  background-color: purple;
}

.carousel .slider.animated {
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

/*************
* ANT DESIGN *
*************/

.ant-tooltip-inner {
  min-height: 0 !important;
  font-weight: 600;
}