@font-face {
  font-family: 'anticon';

  src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot');
  /* IE9*/

  src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot?#iefix')
      format('embedded-opentype'),
    /* chrome、firefox */
      url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.woff') format('woff'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.ttf')
      format('truetype'),
    /* iOS 4.1- */
      url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.svg#iconfont')
      format('svg');
}

@font-face {
  font-family: 'Varela Round', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Varela+Round');
}

body {
  font-family: 'Varela Round', sans-serif;
  background: whitesmoke;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

.pixel-loader {
  width: 10px;
  height: 10px;
  background: #f35626;
  color: #f35626;
  margin: auto;
  box-shadow: 15px 15px 0 0, -15px -15px 0 0, 15px -15px 0 0, -15px 15px 0 0,
    0 15px 0 0, 15px 0 0 0, -15px 0 0 0, 0 -15px 0 0;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  50% {
    box-shadow: 20px 20px 0 0, -20px -20px 0 0, 20px -20px 0 0, -20px 20px 0 0,
      0 10px 0 0, 10px 0 0 0, -10px 0 0 0, 0 -10px 0 0;
  }

  75% {
    box-shadow: 20px 20px 0 0, -20px -20px 0 0, 20px -20px 0 0, -20px 20px 0 0,
      0 10px 0 0, 10px 0 0 0, -10px 0 0 0, 0 -10px 0 0;
  }

  100% {
    transform: rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
  }
}

/*********
* CHARTS *
*********/

.chartTitle {
  font-size: 28px;
}

.chartSubtitle {
  font-size: 13px;
}

.chartLink {
  font-weight: bold;
  text-decoration: none;
}

.chartLink:hover {
  text-decoration: underline;
}

.chartLink.score {
  color: #e0e0e3;
}

.chartLink.lbLink {
  color: #a0a0a3;
}

.highcharts-container {
  overflow: visible !important;
}

.highcharts-root {
  overflow: visible !important;
}

.ttCategory {
  color: #a0a0a3;
  font-weight: bold;
  margin-right: 5px;
}

.ttNote {
  white-space: pre-line !important;
}

.viewFullChartBtn {
  font-size: 14px;
  color: rgb(224, 224, 227);
  border: 1px solid rgb(224, 224, 227);
  border-radius: 4px;
  padding: 8px;
  z-index: auto !important;
  transition: color 150ms ease, background-color 150ms ease;
}

.viewFullChartBtn:hover {
  cursor: pointer;
  color: rgb(28, 28, 28);
  background-color: rgb(224, 224, 227);
}

@media screen and (max-width: 600px) {
  .chartTitle {
    font-size: 16px;
  }

  .chartSubtitle {
    font-size: 12px;
  }

  .viewFullChartBtn {
    font-size: 10px;
    color: rgb(224, 224, 227);
    border: 1px solid rgb(224, 224, 227);
    border-radius: 4px;
    padding: 4px;
    /* z-index: 1; */
  }
}

/************
* CAROUSELS *
************/

.carousel-container > div {
  position: absolute;
  left: 20px;
  width: calc(100% - 40px);
}

.carousel .slide {
  background: unset !important;
  overflow: hidden;
}

.carousel.carousel-slider .control-arrow {
  background-color: rgb(244, 226, 255);
}

.carousel.carousel-slider .control-arrow.control-next {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.carousel.carousel-slider .control-arrow.control-prev {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.carousel.carousel-slider .control-arrow:hover {
  background-color: rgb(244, 226, 255);
}

.carousel .slider.animated {
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.dot {
  background: darkviolet !important;
  margin-left: 6px !important;
  margin-right: 6px !important;
  margin-top: 12px !important;
}

.carousel .control-dots {
  padding: unset !important;
  margin: unset !important;
  z-index: 5 !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 10px solid darkviolet !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 10px solid darkviolet !important;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0, 0, 0, 0) !important;
}

/*************
* ANT DESIGN *
*************/

.search .ant-input {
  border-radius: 16px !important;
}

.ant-tooltip-inner {
  min-height: 0 !important;
  font-weight: 600;
  background-color: rgba(68, 68, 68, 1) !important;
}

.next-btn:hover,
.save-btn:hover {
  background-color: rgba(24, 144, 255, 0.65);
  border-color: rgba(24, 144, 255, 0.65);
}

.next-btn:focus,
.save-btn:focus {
  background-color: rgba(24, 144, 255, 0.65) !important;
  border-color: rgba(24, 144, 255, 0.65) !important;
}

.green-btn-view-chart,
.green-btn-finish {
  background-color: rgb(0, 193, 46) !important;
  border-color: rgb(0, 193, 46) !important;
  margin-left: 8px;
}

.green-btn-view-chart:hover,
.green-btn-finish:hover {
  background-color: rgba(0, 193, 46, 0.65);
  border-color: rgba(0, 193, 46, 0.65);
}

.green-btn-view-chart:focus,
.green-btn-finish:focus {
  background-color: rgba(0, 193, 46, 0.65) !important;
  border-color: rgba(0, 193, 46, 0.65) !important;
}

.green-btn-view-chart:active,
.green-btn-finish:active {
  background-color: rgb(4, 152, 39) !important;
  border-color: rgb(4, 152, 39) !important;
}

.edit-page-new-record-btn {
  max-width: 60%;
  justify-self: end;
}

.ant-tabs-bar {
  margin: 0 !important;
}

.ant-tabs {
  overflow: unset !important;
}

.ant-pagination {
  display: inline-block !important;
}

.ant-pagination-simple .ant-pagination-simple-pager input {
  width: 40px;
  margin-right: 5px !important;
}

.ant-pagination-slash {
  margin: 0 5px 0 0 !important;
}

.ant-pagination-disabled a,
.ant-pagination-disabled:hover a,
.ant-pagination-disabled:focus a,
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link {
  cursor: default !important;
}

.right-side-tab-pane {
  justify-self: end;
}

@font-face {
  font-family: 'anticon';
  src: url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.eot');
  /* IE9*/
  src: url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.woff')
      format('woff'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.ttf')
      format('truetype'),
    /* iOS 4.1- */
      url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.svg#iconfont')
      format('svg');
}

.anticon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon:before {
  display: block;
  font-family: 'anticon' !important;
}

.anticon-double-right:before {
  content: '\e617';
}

.anticon-double-left:before {
  content: '\e618';
}

.anticon-delete:before {
  content: '\e69f';
}
