@font-face {
  font-family: 'anticon';
  src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot');
  /* IE9*/
  src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot?#iefix') format('embedded-opentype'), /* chrome、firefox */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.svg#iconfont') format('svg');
}

/*********
* CHARTS *
*********/

.chartTitle {
  font-size: 28px;
}

.chartSubtitle {
  font-size: 13px;
}

.chartLink {
  font-weight: bold;
  text-decoration: none;
}

.chartLink:hover {
  text-decoration: underline;
}

.chartLink.score {
  color: #E0E0E3;
}

.chartLink.lbLink {
  color: #A0A0A3;
}

.ttCategory {
  color: #A0A0A3;
  font-weight: bold;
  margin-right: 5px;
}

/************
* CAROUSELS *
************/

.carousel .slide {
  background: unset !important;
  overflow: hidden;
}

.carousel.carousel-slider .control-arrow {
  background-color: rgb(244, 226, 255);
}

.carousel.carousel-slider .control-arrow.control-next {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.carousel.carousel-slider .control-arrow.control-prev {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.carousel.carousel-slider .control-arrow:hover {
  background-color: rgb(244, 226, 255);
}

.carousel .slider.animated {
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.carousel .control-dots .dot {
  background: darkviolet !important;
  margin-top: 50px !important;
}

.carousel .control-dots {
  padding: unset !important;
  margin: unset !important;
  z-index: 5 !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 10px solid darkviolet !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 10px solid darkviolet !important;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0,0,0,0) !important;
}

/*************
* ANT DESIGN *
*************/

.ant-tooltip-inner {
  min-height: 0 !important;
  font-weight: 600;
  background-color: rgba(68, 68, 68, 1) !important; 
}

.green-btn {
  background-color: rgb(0, 193, 46);
  border-color: rgb(0, 193, 46);
  margin-left: 8px;
}

.green-btn:hover {
  background-color: rgba(0, 193, 46, 0.65) !important;
  border-color: rgba(0, 193, 46, 0.65) !important;
}

.green-btn:focus {
  background-color: rgb(0, 193, 46);
  border-color: rgb(0, 193, 46);
}

.ant-tabs-bar {
  margin: 0 !important;
}